/* Reset default browser styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
/* Header styles */
header {
    background-color: #1f7a1f;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px; /* Adjusted for better fit */
    margin: 0;
}
/* Menu Toggle */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #fca311;
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1f7a1f;
        width: 100%;
        text-align: right;
        z-index: 1000;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    nav li {
        margin: 10px 0;
    }

    nav.active {
        display: block;
    }
}

@media (min-width: 769px) {
    nav {
        display: flex;
    }
}

/* Hero section styles */
#hero {
    background: linear-gradient(45deg, #1f7a1f, #08350f);
    color: #fff;
    text-align: center;
    padding: 80px 20px; /* Reduced padding */
    border-radius: 0 0 50% 50% / 10%;
    position: relative;
}

#hero h2 {
    font-size: 36px; /* Adjusted font size */
    margin-bottom: 20px;
}

#hero p {
    font-size: 16px; /* Adjusted font size */
    margin-bottom: 30px;
}

#hero .btn {
    display: inline-block;
    background-color: #fca311;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

#hero .btn:hover {
    background-color: #fff;
    color: #1f7a1f;
    transform: translateY(-5px);
}

/* Our Application Features section styles */
#features {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

#features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #1f7a1f;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(135deg, #218021, #08350f);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: scale(1.05);
}

.feature-icon {
    font-size: 50px;
    margin-bottom: 20px;
    color: #fca311;
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 16px;
}

/* Testimonials section styles */
#testimonials {
    background: linear-gradient(135deg, #218021, #08350f);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 50% 50% 0 0 / 10%;
}

#testimonials h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.testimonial-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial-item p {
    font-size: 16px;
}

/* About us section styles */
#about {
    background-color: #f7f7f7;
    padding: 60px 20px;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #1f7a1f;
}

#about p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Contact section styles */
#contact {
    background: linear-gradient(135deg, #218021, #08350f);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-info {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fca311;
    text-decoration: none;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #fff;
    transform: scale(1.2);
}


/* Footer styles */
footer {
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .header-content {
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 0;
    }
    
    header h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

/* Download section styles */
#download {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
}

#download h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1f7a1f;
}

#download p {
    font-size: 18px;
    margin-bottom: 20px;
}

.playstore-image {
    width: 200px;
    transition: transform 0.3s;
}

.playstore-image:hover {
    transform: scale(1.1);
}
